/DataSetMaker.sdf
/DataSetMaker.opensdf
/packages
/Debug
/ConvertLineImage/Debug
/MovieSeparator/Debug
/MovieSeparatorByCut/Debug
/ipch
/ChooseUseImage/Debug
/ConvertImage2GravisbellDataSet/Debug
/ResizeAndCutImage/Debug
/ResizeAndCutImage/Release
/ConvertGravisbellDataSet2Image/Debug
/ConvertGravisbellDataSet2Image/Release
/ChooseUseImage/Release
/ConvertImage2GravisbellDataSet/Release
/ConvertLineImage/Release
/Release
/MovieSeparatorByCut/Release
/MovieSeparator/Release
