/DataSetMaker.sdf
/DataSetMaker.opensdf
/packages
/Debug
/ConvertLineImage/Debug
/MovieSeparator/Debug
/MovieSeparatorByCut/Debug
/ipch
/Release
/MovieSeparatorByCut/Release
/MovieSeparator/Release
/ConvertLineImage/Release
/LineImageNoiseCleaner/Release
/LineImageNoiseCleaner/Debug
/ConvertGravisbellDataSet2Image/Release
/ConvertGravisbellDataSet2Image/Debug
/ResizeAndCutImage/Release
/ResizeAndCutImage/Debug
/ChooseUseImage/Debug
/ChooseUseImage/Release
/ConvertImage2GravisbellDataSet/Release
/ConvertImage2GravisbellDataSet/Debug
/CovertLineImageVer02/Debug
/CovertLineImageVer02/Release
