/DataSetMaker.sdf
/DataSetMaker.opensdf
/packages
/Debug
/ConvertLineImage/Debug
/MovieSeparator/Debug
/MovieSeparatorByCut/Debug
/ipch
/Release
/MovieSeparatorByCut/Release
/MovieSeparator/Release
/ConvertLineImage/Release
